
/*!!!!!!!!FUENTES!!!!!!!!*/
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);}
@font-face {font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Bold.ttf); font-weight: bold;}
@font-face {font-family: OpenSans;src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);font-style: italic;}
html, body{font-family: OpenSans}
/*end*/
/*CONSTANTES*/


/*!!!!!!!!BARRA DE NAVEGACIÓN!!!!!!!!!!*/
/*Esto me resetea el estilo principal de la barra de navegacion*/
.navbar{min-height: 80px;}
/*end*/

.side-nav {
    top: 81px;
    background-color: #566;

 }


.top-nav>li>a {
    color: #EED;
    min-height: 80px;
}


.navbar-inverse li a:hover, .navbar-inverse li a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
	background-color: #478499;
} 

.glyphicon-remove{
	height:40px;
}

/*
/ SIDEBAR
*/
.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 200px;
}

.navbar-inverse .navbar-nav > li > a, .side-nav>li>ul>li>a {
    color: #EED;
}

.subcategories {
    color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li a:focus{
    color: #FFF;
    background-color: #478499 !important;
}

@media screen and (min-width: 768px) {
	
	.container-fluid {
	    margin-right: 250px;
	}

	.side-nav {
		width: 255px;
	}

	#page-wrapper{
		margin-top:80px;
	}

	footer {
    	color:#FFF;
	}

}


@media screen and (max-width: 768px) {

	.navbar-fixed-top {
	    position: static !important;
	 }

	
	#page-wrapper{
		margin-top:0px !important;
	}

	body {
		background-color: #FFC !important;
	}

	footer {
    	color:#000;
	}

	#footerLogo {-webkit-filter: invert(100%)}

	.container-fluid {
	    padding-top: 150px;
	 }

}


#wrapper {

    padding-left: 0px;

}


/**POPULATE CITY**/
.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  background-color: #FFC;
}

/*!!!!!!!!HOME!!!!!!!!*/
/*Esto POR AHORA funciona re bien y me da el estilo del carrousel de fondo*/
#carousel_home{	position: fixed;opacity: 0.35;width: 100%;height: 100%;}
/*end*/

/*esto me da las reglas de medicion para el contenido del centro del home*/
#page-wrapper{
	margin-top:80px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 50px; 
	padding-top: 50px;
	min-height: 600px;
}
/*end*/

/*Esto me da el hack para el responsive imagen del banner*/
#page-wrapper>header #banner figure, #page-wrapper>header #banner figure img{width: 100%;}
/*end*/

/*Esto me separa para arriba y abajo cajas de catalogo del home*/
.item-catalogo{	margin: 20px 0;}
/*end*/

/*Esto me da la dimension de cada caja en el catalogo del home*/
.producto-container{ cursor: pointer; background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);  height: 200px; margin: auto;  position: relative;  overflow: hidden; background-size: 100% 100%;}
/*end*/

/*Esto es para el contenedor de atributos*/
.form-group_specifications{margin-top: 10px; margin-bottom: 10px;}
/*end*/

/*Esto es para el contenedor de atributos*/
.example_specifications{margin-top: 10px; margin-bottom: 10px;}
/*end*/

/*Esto me da el estilo de las cajas de descripcion que suben en hover*/
.jquery-description{width: 100%; height: 100%;	position: relative;	background-color: rgba(0,0,0,0.5);	left: 0;	transform: translateY(100%); transition: all 0.3s ease;	color: white; padding: 10px;}
/*end*/

/*Esto me da el efecto para la descripcion que sube en hover*/
.item-catalogo:hover .jquery-description{	transform:translateY(40%);}
/*end*/





/*!!!!!!!INTEGRAPP!!!!!!!*/
#integrapp{	margin-top: 50px;}
#integrapp .row{ margin-top: 0px;}
.row>div{ margin: 0px 0;}
/*end*/


/*
Esto es para que los nav-pils (usados en tabs y selecciones) en general sean verdes
*/

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color:#337ab7;
  color:#ffffff;
}

.nav > li > a {
    position: relative;
    display: block;
}

/*
!!!BREADCRUMBS!!!
*/
/*change breadcrumb background color*/
.breadcrumb {
	 margin-bottom: 10px;
     background-color: rgba(255, 255, 255, .15);
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -o-border-radius: 5px;
}

/*change breadcrumb separator to raquo symbol*/
.breadcrumb > li + li:before {
     content: "\00BB";
     color: #337ab7;
}


/*
!!!CAROUSEL!!!
*/
.carousel-inner > .item > img {
    
}

.carousel-indicators .active {
	background-color: #BBB;
}



/*
TABLES borders
*/
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #EEE;
}


/*
change color for pagination bootstrapp
*/
.pagination>li.active>a, .pagination>li.active>a:hover, .pagination>li.active>a:focus{
  background-color:#337ab7;
  color:#ffffff;
}

.pagination>ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination ul>li {
    display: inline;
}
/*
Change label colors for titles
*/
.label-default{
  background-color:#337ab7;
}

/*!!!!!!!CATALOGO!!!!!!!*/

#catalogo{
	margin-top: 50px;
}

#catalogo h3{
	text-decoration: underline;
}


@media (max-width: 1024px) { 
	.catalogProdName {
		height: 80px !important;
	}

	.catalogProdCode {
		height: 40px !important;
	}

	.catalogProdLabelGroup{
		height: 240px !important;
	}

	.catalogProdButtonGroup{
		height: 100px !important;
	}
}

.catalogProdName {
	height: 40px;
}

.catalogProdCode {
	height: 20px;
}

.catalogProdLabelGroup{
	height: 140px;
}

.catalogProdButtonGroup{
	height: 50px;
}

#categoria-select select{
	width: 200px;
	margin: auto;
	display: block;
	height: 40px;
}

#categoria-select select optgroup{
	font-size: 16px;
	
}

#categoria-select select optgroup option{
	margin-top: 5px;
}

/*end*/



/*!!!!!!!FAQ!!!!!!!*/

#faq ol>li{
	margin: 30px 0;
}
/*end*/




/*
/
/SUPPLIER and DISTRIBUTOR page
/
*/
.lblDistributor{
	background-color: #77DD44
}

.lblSupplier{
	background-color: #2222AA
}

.pnlDistributor{
	background-color: #ffffbb
}

.pnlSupplier{
	background-color: #99ffff 
}

/*!!!!!!!!!FOOTER!!!!!!!!!*/


html {
    position: relative;
    min-height: 100%;
}


/*footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding-left: 40px;
}*/


/*Esto me da el estilo del footer*/
{	padding:0 60px;	background-color: #4784ff;	color: #444;color: white;}
/*end*/


/*Esto centra todo el texto en el footer*/
#main-container>footer .row div{text-align: center;}
/*end*/

/*Esto es el hack para que todo aparezca gris en el footer*/
#main-container>footer figure img{-webkit-filter: grayscale(1);	filter: grayscale(1);}
/*end*/








/*!!!!!FORM!!!!!!!!!!*/
form{/*width: 40%; */position: relative; padding-bottom: 50px;}
.btn:hover{background-color: #4784ff; color: white; transition: all 0.3s ease;}
#description-user{position: relative; top:100px; right: 0; border-left: #ccc solid 1px; padding-left: 15px; transition: all 0.3s ease;}
#registration{position: relative; padding-bottom: 30px;}
/*end*/

#login-form{
	position: relative;
	top: 10px;
}




@media (max-width: 768px) { 
	#description-user{top: 0px; border: none;}
 }




.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
 	color: black;
 }

.categories{
	margin: 5px 5px 5px 5px; 
	padding: 5px 5px 5px 5px;
}

.input{
	display: none;
}

#properties{
	display: none;
	
}

#medidas{
	border: black solid 1px;
	padding: 10px;
}

.row>div#properties{
	margin: 5px 0;
}


.inputProperty{
	margin-right: 4px;
	margin-top: 4px;
}

.add_field_button{
	margin-bottom: 10px;
}

.input_fields_wrap{
	margin-top: 50px;
	margin-bottom: 50px;
}

h3{
	font-weight: bold;
}

.insight{
	display: none;
}

.sight{
	display: block;
}

.alert-warning{
	background-color: #dff0d8;
	color: #3c763d
}


.comunidad  {
  text-align:center !important;
  font-family: 'Raleway', sans-serif;
 
  color: #333;
}

.comunidad .comunidad-container {
   padding-bottom: 80px;
   width: 240px;
  margin: 0 auto 20px;
  overflow: hidden;text-align:center !important;
}
.comunidad .comunidad figure {
  width: 240px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden; text-align:center !important;
}
.comunidad .comunidad figure img {
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  width: 100%;text-align:center !important;
}
.comunidad .comunidad-txt {
  padding: 10px 20px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #333;text-align:center !important;
}
.comunidad .comunidad-txt .comunidad-title {
  font-weight: 600;
  font-size: 18px;
  display: block;
  line-height: 1.7;
  text-align:center !important
}

    
.comunidad-titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #FFF;
    margin: 0;color: #333;
    padding: 45px 0 35px;
}

header {
  height: 80px;
  margin-bottom: -80px; background-color:#222222 !important;
}


@font-face {
  font-family: 'integrapp';
  src: url("../fonts/integrapp.eot?s03ap7");
  src: url("../fonts/integrapp.eot?s03ap7#iefix") format("embedded-opentype"), url("../fonts/integrapp.ttf?s03ap7") format("truetype"), url("../fonts/integrapp.woff?s03ap7") format("woff"), url("../fonts/integrapp.svg?s03ap7#integrapp") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'integrapp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graphic:before {
  content: "\e905";
}

.icon-business:before {
  content: "\e903";
}

.icon-preferences:before {
  content: "\e904";
}

.icon-doc:before {
  content: "\e90a";
}

.icon-site:before {
  content: "\e90b";
}

.icon-zoom:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e036";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-bulb:before {
  content: "\e900";
}

.icon-like:before {
  content: "\e901";
}

.icon-truck:before {
  content: "\e902";
}

a, a:focus, a:visited, a:hover {
  text-decoration: none;
}

.widthContent {
  max-width: 1280px;
  margin: auto;
}

header {
  height: 80px;
  margin-bottom: -80px;
}
header .widthContent {
  padding: 0 25px;
}
header .logo {
  width: 155px;
  padding-top: 20px;
}
header .logo img {
  width: 100%;
}
header nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  float: right;
  padding-top: 20px;
}
header nav li {
  float: left;
  margin: 0 5px;
  text-align: center;
  text-transform: uppercase;
}
header nav li a {
  color: #F5F5F5;
  line-height: 40px;
  width: 100px;
  cursor: pointer;
  display: inline-block;
}
header nav li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: #F5F5F5;
}
header nav li a:visited, header nav li a:focus, header nav li a:active {
  color: #FFF;
}
header nav li:last-child {
  position: relative;
  width: auto;
  margin: 0;
}
header nav li:last-child i {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
header nav li:last-child input {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  width: 40px;
  cursor: pointer;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
}
header nav li:last-child input:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background-color: #FFF;
}
header nav li:last-child input:focus, header nav li:last-child input.-active {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: text;
  background-color: #FFF;
  width: 190px;
  padding: 0 10px 0 34px;
  outline: none;
}
header nav li:last-child input:focus::-webkit-input-placeholder, header nav li:last-child input.-active::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  color: #666;
}
header nav li:last-child input:focus:-moz-placeholder, header nav li:last-child input.-active:-moz-placeholder {
  /* Firefox 18- */
  color: #666;
}
header nav li:last-child input:focus::-moz-placeholder, header nav li:last-child input.-active::-moz-placeholder {
  /* Firefox 19+ */
  color: #666;
}
header nav li:last-child input:focus:-ms-input-placeholder, header nav li:last-child input.-active:-ms-input-placeholder {
  /* IE 10+ */
  color: #666;
}
header nav li:last-child input:focus::-ms-input-placeholder, header nav li:last-child input.-active::-ms-input-placeholder {
  /* Edge */
  color: #666;
}
header nav li:last-child input:focus:placeholder-shown, header nav li:last-child input.-active:placeholder-shown {
  /* Standard one last! */
  color: #666;
}
header nav li:last-child input::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child input::-ms-input-placeholder {
  /* Edge */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child input:placeholder-shown {
  /* Standard one last! */
  color: rgba(102, 102, 102, 0);
}
header nav li:last-child:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.principal-content {
  height: 650px;
  background: url("../img/banner.png") center no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.principal-content.picture-2 {
  height: 580px;
  background-image: url("../img/banner-2.png");
}
.principal-content .principalText {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Raleway', sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: #FFF;
  display: block;
  width: 500px;
  margin: auto;
  padding-top: 200px;
}

.principal-btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 60px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 60px;
  border: solid 1px #FFF;
  display: inline-block;
  color: #FFF;
  padding: 0 15px;
  min-width: 200px;
  margin: 30px auto;
}
.principal-btn:focus {
  color: #FFF;
}
.principal-btn:hover {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #FFF;
}
.principal-btn.products-btn {
  color: #4784FF;
  border-color: #4784FF;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.principal-btn.products-btn:hover {
  background-color: #4784FF;
  color: #FFF;
}

.products-btn-container {
  text-align: center;
  padding-bottom: 70px;
}

.section-title {
  padding: 75px 0 65px;
  text-align: center;
}
.section-title h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 36px;
  color: #FFF;
  margin: 0;
}

.services {
  background-color: #888;
}
.services.benefits {
  background-color: #4784FF;
}
.services.benefits .service {
  color: #4784FF;
}
.services.benefits .service:after {
  border-color: #4784FF;
}
.services .service-container {
  padding-bottom: 90px;
}
.services .service {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background-color: #FFF;
  text-align: center;
  color: #888;
  line-height: 180px;
  font-size: 84px;
}
.services .service:after {
  content: "";
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: solid 1px #888;
}
.services .service-txt {
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #FFF;
  max-width: 280px;
  margin: 0 auto;
}
.services .service-txt .service-title {
  font-weight: 600;
  font-size: 22px;
  display: block;
}

.products .section-title h3 {
  color: #333;
}
.products .product-container {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-bottom: 20px;
  border: solid 1px #DDD;
  width: 290px;
  margin: 0 auto 20px;
  overflow: hidden;
}
.products .product-container:hover .product {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.products .product-container:hover .product figure {
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  -moz-transition-duration: 10s;
  -o-transition-duration: 10s;
  -webkit-transition-duration: 10s;
  transition-duration: 10s;
}
.products .product {
  overflow: hidden;
  *zoom: 1;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
  height: 250px;
  padding: 25px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.products .product figure {
  width: 200px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}
.products .product figure img {
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  width: 100%;
}
.products .product-share-container ul {
  overflow: hidden;
  *zoom: 1;
  border-bottom: solid 1px #EEE;
  margin: 0;
}
.products .product-share-container ul li {
  float: left;
  width: 40px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.products .product-share-container ul li:hover {
  background-color: #444;
  cursor: pointer;
  color: #FFF;
}
.products .product-share-container ul li:last-child {
  float: right;
  width: auto;
  padding: 5px 10px;
}
.products .product-txt {
  padding: 10px 20px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #333;
}
.products .product-txt .product-title {
  font-weight: 600;
  font-size: 18px;
  display: block;
  line-height: 1.7;
}

footer {
  background-color: #345CAB;
  padding: 20px 0;
  font-size: 13px;
  color: #F5F5F5;
  text-align: center;
}
footer .widthContent {
  padding: 0 25px;
}
footer ul {
  margin: 5px 0;
}
footer ul li {
  line-height: 1;
  display: inline-block;
  padding: 0 10px;
  border-right: solid 1px #F5F5F5;
}
footer ul li:last-child {
  border-right: none;
}
footer ul li a {
  color: #8FCBFF;
  cursor: pointer;
}
footer ul li a:hover {
  color: #8FCBFF;
  text-decoration: underline;
}
footer ul li a:visited, footer ul li a:focus, footer ul li a:active {
  color: #8FCBFF;
}

@media (max-width: 1023px) {
  .principal-content {
    height: 500px;
  }
  .principal-content.picture-2 {
    height: 405px;
  }
  .principal-content .principalText {
    font-size: 36px;
    width: 400px;
    padding-top: 130px;
  }

  .products .product-container {
    width: 230px;
  }

  .services .service-txt {
    font-size: 14px;
  }
  .services .service-txt .service-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  header {
    display: none;
  }

  .principal-content {
    height: 205px;
  }
  .principal-content.picture-2 {
    height: 195px;
  }
  .principal-content .principalText {
    font-size: 20px;
    line-height: 1.2;
    width: 210px;
    padding-top: 45px;
  }

  .principal-btn {
    margin: 20px auto;
    height: 40px;
    line-height: 40px;
    min-width: 130px;
    font-size: 14px;
  }

  .section-title {
    padding: 45px 0 35px;
  }
  .section-title h3 {
    font-size: 20px;
  }

  .products .product-container {
    width: 290px;
  }

  .services .service {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 75px;
  }
  .services .service:after {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  .services .service-txt {
    font-size: 13px;
  }
  .services .service-txt .service-title {
    font-size: 16px;
  }
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
}

.navbar-form {
  padding: 0;
  margin-top: 0;
}


@font-face {
  font-family: 'integrapp';
  src: url("../fonts/integrapp.eot?s03ap7");
  src: url("../fonts/integrapp.eot?s03ap7#iefix") format("embedded-opentype"), url("../fonts/integrapp.ttf?s03ap7") format("truetype"), url("../fonts/integrapp.woff?s03ap7") format("woff"), url("../fonts/integrapp.svg?s03ap7#integrapp") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'integrapp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graphic:before {
  content: "\e905";
}


.icon-business:before {
  content: "\e903";
}

.icon-preferences:before {
  content: "\e904";
}

.icon-doc:before {
  content: "\e90a";
}

.icon-site:before {
  content: "\e90b";
}

.icon-zoom:before {
  content: "\e90c";
}

.icon-search:before {
  content: "\e036";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-bulb:before {
  content: "\e900";
}

.icon-like:before {
  content: "\e901";
}

.icon-truck:before {
  content: "\e902";
}

a, a:focus, a:visited, a:hover {
  text-decoration: none;
}

.widthContent {
  max-width: 1280px;
  margin: auto;
}



.FAQ.benefits .FAQ {
   font-family: 'Raleway', sans-serif;
 
  color: #333;
}
.FAQ.benefits .FAQ:after {
  border-color: #4784FF;
}
.FAQ-container {
  padding-bottom: 90px;
}
.FAQ {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background-color: #FFF;
  text-align: center;
   font-family: 'Raleway', sans-serif;
 
  color: #333;
  line-height: 180px;
  font-size: 84px;
}
.FAQ:after {
  content: "";
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border: solid 1px #888;
}
.FAQ-txt {
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
    max-width: 780px;
  margin: 0 auto;
  line-height:20px;
}
.FAQ-txt .service-title {
  font-weight: 600;
  font-size: 22px;
  display: block;
}

.FAQ-titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 36px;
        margin: 0;color: #333;
    padding: 45px 0 35px; text-align:center;
}

.FAQ-pregunta {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 22px;
  margin: 0;
  color: #333;
  padding: 15px 0 35px;
  text-align: center;
  font-weight: bold;
}



@media (max-width: 1023px) {

  .FAQ-txt {
    font-size: 14px;
  }
  .FAQ-txt .service-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {

  .FAQ {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 75px;
  }
  .FAQ:after {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
  }
  .FAQ-txt {
    font-size: 13px;
  }
  .FAQ-txt .service-title {
    font-size: 16px;
  }
}
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-form {
  padding: 0;
  margin-top: 0;
}

.products-titulo {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 36px;
        margin: 0;color: #333;
    padding: 45px 0 35px; text-align:center;
}

.well {
  min-height: 20px;
   margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); margin-right:6% !important; margin-top:55% !important
}

.publicidad {float:right !important; width:160px !important;margin-top:-75% !important }


/* Filtro Nuevo */
#cssmenu {
  width: 250px;
  font-family: Roboto, Helvetica, sans-serif;
  float: left;
    position: relative;
}
#cssmenu i {
  margin-right: 5px;
}
#cssmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4em;

}
#cssmenu ul li {
  position: relative;
  display: block;
}
#cssmenu ul li a {
  display: block;
  text-decoration: none;
  position: relative;
}
#cssmenu > ul {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#cssmenu > ul > li:first-child > a {
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
#cssmenu > ul > li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
#cssmenu > ul > li.active > a {
  color: #777;
  background-color: #e6e6e6;
}
#cssmenu > ul > li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888;
  right: 15px;
  top: 17px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu > ul > li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777;
}
#cssmenu > ul > li:hover > a::after {
  border-top-color: #777;
}
#cssmenu > ul > li > a {
  padding: 12px 15px;
  color: #888;
  transition: all 0.3s ease-out;
  font-size: 14px;
}
#cssmenu > ul > li > a:hover {
  color: #777;
  background-color: #e6e6e6;
}
#cssmenu ul ul li.active > a {
  background-color: #f2f2f2;
  color: #777;
}
#cssmenu ul ul li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888;
  right: 15px;
  top: 15px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu ul ul li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #777;
}
#cssmenu ul ul li:hover > a::after {
  border-top-color: #777;
}
#cssmenu ul ul li a {
  padding: 10px 15px;
  font-size: 14px;
  color: #888;
  transition: all 0.3s ease-out;
}
#cssmenu ul ul li a:hover {
  background-color: #f2f2f2;
  color: #777;
}
#cssmenu ul ul ul li a {
  padding-left: 25px;
}
/* End Filtro Nuevo */

