
/*!!!!!!!!FUENTES!!!!!!!!*/
@font-face { font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);}
@font-face {font-family: OpenSans; src: url(../fonts/Open_Sans/OpenSans-Bold.ttf); font-weight: bold;}
@font-face {font-family: OpenSans;src: url(../fonts/Open_Sans/OpenSans-Italic.ttf);font-style: italic;}
html, body{font-family: OpenSans}
/*end*/
/*CONSTANTES*/


/*!!!!!!!!BARRA DE NAVEGACIÓN!!!!!!!!!!*/
/*Esto me resetea el estilo principal de la barra de navegacion*/
.navbar{background-color: #4784ff;	height: 80px; transition:all 0.3s ease	;margin-bottom: 0;	padding: 0 40px;}
/*end*/

/*Esto me resetea la altura del contenedor que engloba todo lo de adentro del nav*/
nav>.container-fluid{height: 100%; padding: 0;}
/*end*/

/*Esto me resetea la posicion de la barra de navegacion a la derecha y la altura*/
#bs-example-navbar-collapse-1>ul.nav{float: right;padding: 15px 0; height: 100%}
.navbar-collapse.collapse{height: 100%;}
.nav > li{/*height: 100%*/}
/*end*/

/*Esto me resetea el color de los links de la barra de navegacion*/
#bs-example-navbar-collapse-1>ul.nav a{color: white; transition:all 0.3s ease;}
/*end*/

/*Esto resetea la altura del div donde está el logo y el cambio de altura del mismo y de la barra de navegación*/
.navbar-brand{height: 100%;}
.navbar-brand figure{height: 100% !important;}
.navbar-brand figure img{transition: all 0.3s ease;}
.navbar-collapse{height: 100%;}
/*end*/

/*Esto me resetea la altura del navbar para que las opciones bajen justo abajo de donde termina*/
.navbar-header{height: 100%;}
/*end*/

/*Esto me resetea el color del boton de la barra responsive*/
.icon-bar{color: white;	background-color: white;}
/*end*/

/*
Menu del boton de mi cuenta
*/
.my-account-btn{
    margin-top: 15px;
    color: #FFF;
    border-color: #4784ff;
	background-color: #4784ff;
	font-size:20px;
	font-family: OpenSans;
	padding-top: 0px;
    padding-bottom: 0px;
}

 .my-account-btn a:hover, .my-account-btn:hover, .my-account-btn:focus, .my-account-btn.focus, .my-account-btn:active, .my-account-btn.active, .open > .dropdown-toggle.my-account-btn {
    color: #FFF;
    border-color: #4784ff;
	background-color: #4784ff;
	text-decoration: none;
}
/*
Menu del boton de mi cuenta
*/
.my-account-mn{
	background-color: #4784ff;
}

.my-account-mn li a:hover, .my-account-mn li a:focus {background-color: #4784ff;} 


/*EFECTOS TYMPANUS*/
/* Effect 1: Brackets */
/* URL: http://tympanus.net/Development/CreativeLinkEffects/ */
.cl-effect-1 li a::before,.cl-effect-1 li a::after {display: inline-block;opacity: 0; font-size:20px; -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;-moz-transition: -moz-transform 0.3s, opacity 0.2s;transition: transform 0.3s, opacity 0.2s;}
.cl-effect-1 li a::before {margin-right: 5px;content: '[';	-webkit-transform: translateX(20px);-moz-transform: translateX(20px);transform: translateX(20px);}
.cl-effect-1 li a::after { margin-left: 5px; content: ']';	-webkit-transform: translateX(-20px); -moz-transform: translateX(-20px);transform: translateX(-20px);}
.cl-effect-1 a:hover::before,.cl-effect-1 a:hover::after,.cl-effect-1 a:focus::before,.cl-effect-1 a:focus::after {opacity: 1;-webkit-transform: translateX(0px);-moz-transform: translateX(0px);transform: translateX(0px);}
/*end*/







/*!!!!!!!!HOME!!!!!!!!*/
/*Esto POR AHORA funciona re bien y me da el estilo del carrousel de fondo*/
#carousel_home{	position: fixed;opacity: 0.35;width: 100%;height: 100%;}
/*end*/

/*esto me da las reglas de medicion para el contenido del centro del home*/
section#home{margin-top:110px;padding-left: 40px;padding-right: 40px;padding-bottom: 50px;}
/*end*/

/*Esto me da el hack para el responsive imagen del banner*/
#home>header #banner figure, #home>header #banner figure img{width: 100%;}
/*end*/

/*Esto me separa para arriba y abajo cajas de catalogo del home*/
.item-catalogo{	margin: 20px 0;}
/*end*/

/*Esto me da la dimension de cada caja en el catalogo del home*/
.producto-container{ cursor: pointer; background-color: #FFF;  height: 200px; margin: auto;  position: relative;  overflow: hidden; background-size: 100% 100%;}
/*end*/

/*Esto es para el contenedor de atributos*/
.form-group_specifications{margin-top: 10px; margin-bottom: 10px;}
/*end*/

/*Esto es para el contenedor de atributos*/
.example_specifications{margin-top: 10px; margin-bottom: 10px;}
/*end*/

/*Esto me da el estilo de las cajas de descripcion que suben en hover*/
.jquery-description{width: 100%; height: 100%;	position: relative;	background-color: rgba(0,0,0,0.5);	left: 0;	transform: translateY(100%); transition: all 0.3s ease;	color: white; padding: 10px;}
/*end*/

/*Esto me da el efecto para la descripcion que sube en hover*/
.item-catalogo:hover .jquery-description{	transform:translateY(40%);}
/*end*/





/*!!!!!!!INTEGRAPP!!!!!!!*/
#integrapp{	margin-top: 50px;}
#integrapp .row{ margin-top: 0px;}
.row>div{ margin: 0px 0;}
/*end*/


/*
Esto es para que los nav-pils (usados en tabs y selecciones) en general sean verdes
*/
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color:#D1974D;
	color:#ffffff;
}


/*
!!!BREADCRUMBS!!!
*/
/*change breadcrumb background color*/
.breadcrumb {
	 margin-bottom: 10px;
     background-color: #aaddaa;
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     -o-border-radius: 5px;
}

/*change breadcrumb separator to raquo symbol*/
.breadcrumb > li + li:before {
     content: "\00BB";
     color: #ffffff;
}


/*
!!!CAROUSEL!!!
*/
.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-indicators .active {
	background-color: #BBB;
}



/*
TABLES borders
*/
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #EEE;
}


/*
change color for pagination bootstrapp
*/
.pagination>li.active>a, .pagination>li.active>a:hover, .pagination>li.active>a:focus{
	background-color:#D1974D;
	color:#ffffff;
}

/*
Change label colors for titles
*/
.label-default{
	background-color:#D1974D;
}

/*!!!!!!!CATALOGO!!!!!!!*/

#catalogo{
	margin-top: 50px;
}

#catalogo h3{
	text-decoration: underline;
}

.catalogProdName {
	height: 40px;
}
.catalogProdCode {
	height: 20px;
}

#categoria-select select{
	width: 200px;
	margin: auto;
	display: block;
	height: 40px;
}

#categoria-select select optgroup{
	font-size: 16px;
	
}

#categoria-select select optgroup option{
	margin-top: 5px;
}

/*end*/



/*!!!!!!!FAQ!!!!!!!*/

#faq ol>li{
	margin: 30px 0;
}
/*end*/









/*!!!!!!!!!FOOTER!!!!!!!!!*/


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 160px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
}


/*Esto me da el estilo del footer*/
#main-container>footer{	padding:0 60px;	background-color: #4784ff;	color: #444;color: white;}
/*end*/


/*Esto centra todo el texto en el footer*/
#main-container>footer .row div{text-align: center;}
/*end*/

/*Esto es el hack para que todo aparezca gris en el footer*/
#main-container>footer figure img{-webkit-filter: grayscale(1);	filter: grayscale(1);}
/*end*/








/*!!!!!FORM!!!!!!!!!!*/
form{/*width: 40%; */position: relative; padding-bottom: 50px;}
.btn:hover{background-color: #4784ff; color: white; transition: all 0.3s ease;}
#description-user{position: relative; top:100px; right: 0; border-left: #ccc solid 1px; padding-left: 15px; transition: all 0.3s ease;}
#registration{position: relative; padding-bottom: 30px;}
/*end*/

#login-form{
	position: relative;
	top: 10px;
}




@media (max-width: 768px) { 
	#description-user{top: 0px; border: none;}
 }




.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
 	color: black;
 }

.categories{
	margin: 5px 5px 5px 5px; 
	padding: 5px 5px 5px 5px;
}

.input{
	display: none;
}

#properties{
	display: none;
	
}

#medidas{
	border: black solid 1px;
	padding: 10px;
}

.row>div#properties{
	margin: 5px 0;
}


.inputProperty{
	margin-right: 4px;
	margin-top: 4px;
}

.add_field_button, .btn-primary{
	margin-bottom: 10px;
}

.input_fields_wrap{
	margin-top: 50px;
	margin-bottom: 50px;
}

h3{
	font-weight: bold;
}

.insight{
	display: none;
}

.sight{
	display: block;
}

.alert-warning{
	background-color: #dff0d8;
	color: #3c763d
}

